figure {
  background-color: #ededdd;
  border: 1pt solid #a8a8a8;
  padding: 5px;
  width: 150px;
  top: 150px;
  left: 200px;
  position: absolute;
}

figcaption {
  background-color: #ededdd;
  padding: 5px;
  top: 150px;
  left: 200px;
  position: absolute;
}
