div.entry {
  background-color: #fff8dc;
}

div.entryContent {
  background-color: #f0f8ff;
}

h1 span {
  color: #8b0000;
  font-size: 1.5em;
  display: block;
}

li {
  display: inline;
}

div img {
  display: block;
}
